<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Étudiant</title>
</head>
<body>
    <h1>Formulaire Étudiants</h1>
    <form action="/submit" method="post">
        <label for="entreprise">Entreprise :</label>
        <input type="text" name="entreprise" required><br>

        <label for="entretiens">Nombre d'entretiens :</label>
        <input type="number" name="entretiens" required><br>

     
        <input type="submit" value="Soumettre">
    </form>
</body>
</html>
